.Navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: black;
}
.Links
{
    display: flex;
}
.A,.B,.C
{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}
.Input-Search
{
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0px 10px;
}
.Input-Search input
{
    flex: 1;
    outline: none;
    border: none;
    margin: 5px;
    border-radius: 3px;
    padding: 5px 10px;
    height: 100%;
}
.Input-Search input:focus
{
    outline:none;
}
.Search-Icon
{
    cursor: pointer;
    height: 100%;
    margin: 5px;
    
}
.Icon
{
    font-size:large;
    color: orange;
}
.Logo img
{
    width: 100px;
}
.Actions
{
    color: #bdc3c7;
    cursor: pointer;
}
.Caller
{
    color: white;
}
.Links
{
    text-decoration: none;
    color: black;
}

@media(max-width:615px)
{
    .Caller , .Actions
    {
        font-size: small;
    }
    .Logo img
    {
        width: 50px;
    }
    .Input-Search input
    {
        flex: 0;
        margin: 0;
        padding: 0;
        flex: 1;
    }
}
@media(max-width:513px)
{
    .Actions , .Caller
    {
        font-size: x-small;
        padding: 0;
        margin: 0;
    }
    .Input-Search input
    {
        width: fit-content;
        flex:0;
        margin-right: 0px;
    }
    .Input-Search
    {
        flex:0;
        margin: 0 5px;
        padding: 0;
        font-size: small;
    }
    .A,.B,.C
    {
        margin: 0px 5px;
    }
}

@media (max-width:450px)
{
    .Input-Search input
    {
        width:150px;
        flex:0;
        margin-right: 0px;
    }
    .Actions
    {
        font-size: xx-small;
    }
    .C
    {
        margin: 0px;
        text-align: center;
    }
}