.Carousal img
{
    width: 100%;
}
.Left , .Right
{
    color: black;
    height: 50px !important;
    width:  50px !important;
}
.carousel-caption
{
    color: black;
}
.Carousal-Heading
{
    background-color: black;
    color: white;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width:450px)
{
    .Left , .Right
    {
        width: 30px !important;
        height: 30px !important;
    }
}